.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.left_line {
	border-left: 1px solid;
}
.card-width {
	width: 18rem;
}
.element-left {
	text-align: left;
}
.max-w-250 {
	max-width: 250px;
}
.max-w-150 {
	max-width: 150px;
}
.max-w-25 {
	max-width: 25px;
}
.alarm-on {
  animation: pulse 0.7s infinite;
}

@keyframes pulse {
  0% {
		opacity: 0
  }
  100% {
		opacity: 1
  }
}

.bottom-div {
  bottom: 10px;
  position: absolute;
  left: 60px;
  right: 60px;
  text-align: right;
}
.bottom-hr {
  margin-bottom: 0 !important;
}
.bottom-font {
  font-size: 12px;
}
